{
  "cookies_path": "/path/to/cookies.txt",
  "use_wrapper": true,
  "wrapper_url": "http://127.0.0.1",
  "wrapper_decrypt_host": "127.0.0.1",
  "wrapper_decrypt_port": 10020,
  "output_path": "./Apple Music",
  "temp_path": "./temp",
  "ffmpeg_path": "ffmpeg",
  "mp4box_path": "MP4Box",
  "nm3u8dlre_path": "N_m3u8DL-RE",
  "audio_format": "",
  "codec_song": "aac-web",
  "download_mode": "ytdlp",
  "cover_format": "jpg",
  "cover_size": 1200,
  "language": "en-US",
  "overwrite": false,
  "save_cover": false,
  "save_playlist": false,
  "no_synced_lyrics": false,
  "theme": "light"
}
